@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis accusantium nisi ipsum aliquam reprehenderit rem deserunt quis dolor praesentium exercitationem molestiae, asperiores, et ullam temporibus ut tenetur consequuntur totam.</p>


<p role="status">Current count: @currentCount</p>
<h1>Zde je text</h1>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
