@page "/"

@* Pro spuštění a sledování změn zadat: dotnet watch run *@
@* Pro vytvoření aplikace Blazer: dotnet new blazorserver -o*@
@* Pro vybuldení stačí zadat do terminálu: dotnet run *@


<PageTitle>Home</PageTitle>

<h1>Hello</h1>

Welcome to your new app.
